.generate-salt {
	background: #1f9eb5;
	color: #fff;
	padding: 4px 6px;
	display: block;
	width: 100px;
	font-size: 14px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ce-note {
	border: 1px dotted #aca9a9;
	padding: 20px;
	background: #fff;
	h2 {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 10px;
	}
}