<?php
/*
 * Copyright (c) 2015, KruseMedien GmbH, http://www.krusemedien.com
 *
 * This file is released under the terms of the MIT license. You can find the
 * complete text in the attached LICENSE file or online at:
 *
 * http://www.opensource.org/licenses/mit-license.php
 */
use sly\CronExport\Util;
use sly\CronExport\TimeParser;
$form = new sly_Form($_router->getPlainUrl(null), 'POST', t('ce_settings'));
$form->addHiddenValue('page', 'cronexport');
$form->addHiddenValue('func', 'update');


$form->getSubmitButton()->setValue(t('save'));
$form->setResetButton(null);

$comment = new sly_Form_Input_Text('comment', t('im_export_comment'), $config['comment']);
$comment->setHelpText(t('ce_comment_helptext'));
$form->addElement($comment);

$users        = new sly_Form_Input_Checkbox('users', t('im_export_include_users'), 1, t('im_export_include_users_help'), null, $config['users']);
$users->setHelpText(t('im_export_include_users_helptext'));
$form->addElements(array($users));

$salt = new sly_Form_Input_Text('salt', t('ce_securitysalt'), $config['salt']);
$salt->setHelpText(t('ce_securitysalt_helptext'))
     ->setHelpTextIsHTML(true);
$form->addElement($salt);

$form->beginFieldset(t('ce_autodelete_settings'));
$delete        = new sly_Form_Input_Checkbox('deletebackups', t('ce_deletebackups'), 1, t('yes'), null, $config['deletebackups']);
$delete->setHelpText(t('ce_deletebackups_helptext'));
$form->addElements(array($delete));

$delay = new sly_Form_Input_Text('delay', t('ce_delay'), TimeParser::prettyPrint($config['delay']));
$delay->setHelpText(t('ce_delay_helptext'))
	  ->setHelpTextIsHTML(true);

for($i=1;$i<=20;$i++){
	$countArray[$i] = $i;

}
$count = new sly_Form_Select_DropDown('count', t('ce_count'), $config['backupcount'], $countArray);
$count->setHelpText(t('ce_count_helptext'));
$form->addElements(array($count, $delay));


?>
<div class="sly-content">
	<?php
	// print messages
	print sly_Helper_Message::renderFlashMessage();

	// print text and form
	print $form->render();
	?>
</div>

<div class="ce-note">
	<h2>Hinweis zur Benutzung</h2>
	<p>Nach der Installation muss ein Security Salt generiert werden. Dieser Schlüssel dient der Authentifizierung des Cronjobs und erlaubt es, ein Backup zu erstellen.<br /> Ein Beispiel-URL für das Aufrufen des Cronjobs wäre:<br/>
		<i>http://www.domain.com/cronexport/fkh34jl24h2l34l2</i></p>
	<p>Sie können nun diesen URL für den Cronjob-Aufruf verwenden oder in eine Skript-Datei einfügen, die von einem Cronjob aufgerufen wird.</p>

	<p><strong>Speicherdauer und die Anzahl der Backups</strong><br/> Diese geben an, wie viele Backupdateien mindestens bestehen bleiben und wie alt diese Backups sind. <br/>
		Diese Parameter geben an, wie viele Backupdateien höchstens gespeichert werden bzw. wie lange Backups gespeichert bleiben.<br />
		Automatisch gelöscht werden nur die vom Cron-Export erstellten Dateien. Manuell ausgeführte Backups sind davon nicht betroffen.</p>
</div>